<!--

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
        click me
      </ion-button>
     </ion-buttons>
   <title>Hola</title>
  </ion-toolbar>
</ion-header>

<ion-content id="main"[fullscreen]="true">
  <img src="./../../assets/icon/Dosefy.jpg">

<ion-label>DOing this shit</ion-label>



</ion-content>

 -->

 <ion-header [translucent]="true">
  <ion-toolbar>

    <ion-menu-button slot="start"> </ion-menu-button>
    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>
 <ion-content>
  <img src="./../../assets/icon/Dosefy.jpg">


</ion-content>
