<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="medicamentos-container">
    <div class="medicamento" *ngFor="let med of medicamentos; track by $index">
      <img class="medicamento-imagen" [src]="med.imagen" alt="{{ med.nombre }} imagen">
      <div class="medicamento-info">
        <h2 class="medicamento-nombre">{{ med.nombre }}</h2>
        <p class="medicamento-descripcion">{{ med.descripcion }}</p>
        <p class="medicamento-como-tomar"><strong>Cómo tomar:</strong> {{ med.como_tomar }}</p>
        <p class="medicamento-cuando-tomar"><strong>Cuándo tomar:</strong> {{ med.cuando_tomar }}</p>
      </div>
    </div>
  </div>
  @for (medicamento of medicamentos; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ medicamento.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="medicamento.imagen" alt="{{ medicamento.nombre }}" />
      <p>{{ medicamento.descripcion }}</p>
      <ion-item lines="none">
        <ion-label color="primary">Cómo tomar</ion-label>
        <p>{{ medicamento.como_tomar }}</p>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="secondary">Cuándo tomar</ion-label>
        <p>{{ medicamento.cuando_tomar }}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
}

</ion-content>

